@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    font-family: "Roboto", sans-serif;
}

.main {
    margin: 0;
    padding: 0;
}


#section-faqs {
    margin: 0;
    padding: 32px 308px;
}

.btn-col:focus {
    outline: none;
    box-shadow: none;
}

/* Faqs header */
.faqs-header {
    text-align: center;
    font-size: 1.3rem;
}

.faqs-header h1 {
    font-size: 40px;
    font-family: Roboto;

}
.faqs-header h1:hover{
   color: #29626D;
opacity:1;  transform: scale(1.2);

}

 .lineLeft {
    width: 62px;
    height: 1px;
    margin: 26px auto 48px;
    background-color: #ccc;
    display: inline-block;
}

.starfaq {
    width: 24px;
    height: 25px;
    margin: -54px 12px 37px 14px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.lineRight {
    width: 62px;
    height: 1px;
    margin: 26px auto 49px auto;
    background-color: #ccc;
    display: inline-block;
}

.faqs-header .content {
    margin: 0 15%;
    margin-bottom: 36px;
}



/* faqs division  */

.button {
    margin-bottom: 48px;
    display: flex;
}

.button button {
    width: 100%;
    padding-top:17px;
    padding-bottom: 17px;
    text-transform: uppercase;
    border: none;
    border-bottom: 5px solid #1d7a8c;
    transition: all 0.3s ease;
}

.button .active {
    background-color: #1d7a8c;
    color: white;
}


.quetion {
    margin-top: 40px;
    font-size: 1.3rem;
}

.quetion img {
    float: left;
    margin-right: 10px;
    padding-bottom: 10px;
}

.quetion button {
    padding: 0;
    width: 100%;
    background-color: none;
    outline: none;
    text-align: left;
     font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
}

.quetion button:focus {
    outline: none;
}

.answer {
    margin: 20px 30px 0px 30px;
    padding-bottom: 20px;
    font-family:Roboto;
    text-align: left;
    font-size:16px;
    transition: all 0.5s ease-in-out;
}
@media screen and (max-width:1500px) {
    #section-faqs {
        padding: 40px 15%;
    }
}

@media screen and (max-width:990px) {
    #section-faqs {
        padding: 10%;
    }
}

@media screen and (max-width:415px) {
    .faqs-header .content {
        font-size: 1rem;
    }
}


 /*-----------Mail-------------------*/

.mail-heading{

   max-width: 390px;
  max-height: 13px;
  margin-top: 28px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  font-weight: bold;
  letter-spacing: normal;
  text-align:center;
  color: #353548;
}

.user-input{
  align-content: center;
}

.mailBox{
max-width: 233px;
  max-height: 40px;
  margin-top: 20px ;
  padding: 14px 50px 16px 22px;
  border-radius: 20px;
  border: solid 1px #565656;
  background-color: #f4f5f8;
}
.mailText{
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.29;
  letter-spacing: normal;
  text-align: left;
  color: #565656;
  height:   40px;
  width:  233px;
  cursor: pointer;
  }

 

.submit{
  margin-top: 16px;
  margin-left: 11px;
  border-radius: 20px;
  width: 88px;
  height: 40px ;
  background-color: #ff7b6d;
  color:  white ;
  border:   none  ;
}

.toptoback{
    position:fixed; 
    left:20px; 
    bottom:200px;
     background-color:rgb(105, 104, 104); 
     border-radius: 50%;
      z-index: 100;
      padding:10px;
      margin-top: 20px;  
      border:1px solid white;
  }
 /*-----------End of  Mail -------------------*/