/*-----------Navbar-------------------*/
.nav-link {
 margin-top:    20px;
height: 20px;
text-align: right;
letter-spacing: 0px;
color: #FFFFFF !important   ;
opacity: 1;
font-size: 17px !important;


}
.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
}

.navtext{
  margin-right: 20px;
}
 .navbar{
background-color:#525252;
opacity:0.8; 
 padding: 6px 15px 4px;
  }

.Rounded-Rectangle-2{
 margin-top:  20px;
width: 140px;
height: 40px;
text-align:     center  ;
background: #29626D 0% 0% no-repeat padding-box;
border: 1px solid #FFFFFF80;
border-radius: 20px;
opacity: 1;
float: right;
font-family:    Roboto-Regular;
font-size:  17px;
line-height: 1.41;
  letter-spacing: normal;}

.text{
margin-top:  20px;
sheight: 40px;
text-align:center  ;
opacity: 1;
font-family:Roboto-Regular;
font-size:  17px;
float: right;
line-height: 1.41;
letter-spacing: normal;
  }

.Rounded-Rectangle-2:hover
{
    background-color:black;
}

.text:hover{
height: 40px;
text-align:     center  ;
border: 1px solid #FFFFFF80;
border-radius: 20px;
    }  
  /*--------End of nav Bar-------------------*/